{% extends 'base.html' %}

{% block title %}Update category{% endblock %}

{% block content %}
    <form method="post" action="/category/{{ category.urlsafe }}/update">
        <label>
            Name: <input type="text" name="name" value="{{ category.name }}"/>
        </label>
        <label>
            Description: <textarea name="description" rows="4" cols="50">{{ category.description }}</textarea>
        </label>
        <button>Update</button>
    </form>
{% endblock %}