{% extends 'base.html' %}

{% block title %}Category details{% endblock %}

{% block content %}
    <div class="category-details">
        <h1 class="category-name">{{ category.name }}</h1>
        <a class="new-product" href="/product/{{ category.urlsafe }}/new">New Product?</a>
        <a class="update-link" href="/category/{{ category.urlsafe }}/update">Edit?</a>
        <a class="delete-link" href="/category/{{ category.urlsafe }}/delete">Delete?</a>
    </div>
    <div class="products-list">
        <ul class="products">
            {% for product in category.products %}
                {% if product %}
                    <li class="product">
                      <a href="/product/{{ product.urlsafe }}">{{ product.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}