{% extends 'base.html' %}

{% block title %}Create new category{% endblock %}

{% block content %}
    <form method="post" action="/category/new">
        <label>
            Name: <input type="text" name="name"/>
        </label>
        <label>
            Description: <textarea name="description" rows="4" cols="50"></textarea>
        </label>
        <button>Create</button>
    </form>
{% endblock %}