{% extends 'base.html' %}

{% block title %}Category delete confirmation{% endblock %}

{% block content %}
    <form method="post" action="/category/{{ category.urlsafe }}/delete">
        <button>Are you sure?</button>
    </form>
{% endblock %}