{% extends 'base.html' %}

{% block title %}Category list{% endblock %}

{% block content %}
    <div class="new-category">
        <a href="/category/new">New Category?</a>
    </div>
    <div class="category-list">
        <ul class="categories">
            {% for category in categories %}
                <li class="category">
                    <a href="/category/{{ category.urlsafe }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}