{% extends 'base.html' %}

{% block title %}Create new product{% endblock %}

{% block content %}
    <form method="post" action="/product/{{ category.urlsafe }}/new">
        <label>
            Name: <input type="text" name="name"/>
        </label>
        <label>
            Price: <input type="number" name="price" min="1" step="0.01"/>
        </label>
        <label>
            Description: <textarea name="description" rows="4" cols="50"></textarea>
        </label>
        <button>Create</button>
    </form>
{% endblock %}