{% extends 'base.html' %}

{% block title %}Product details{% endblock %}

{% block content %}
    <div class="product-details">
        <a href="/product/{{ product.urlsafe }}/update">Edit?</a>
        <a href="/product/{{ product.urlsafe }}/delete">Delete?</a>

        <h1 class="product-name">{{ product.name }}</h1>
        <p class="product-price">{{ product.price }}</p>
        <p class="product-details">{{ product.description }}</p>
    </div>
{% endblock %}