{% extends 'base.html' %}

{% block title %}Update product{% endblock %}

{% block content %}
    <form method="post" action="/product/{{ product.urlsafe }}/update">
        <label>
            Name: <input type="text" name="name" value="{{ product.name }}"/>
        </label>
        <label>
            Price: <input type="number" name="price" min="1" step="0.01" value="{{ product.price }}"/>
        </label>
        <label>
            Description: <textarea name="description" rows="4" cols="50">{{ product.description }}</textarea>
        </label>
        <button>Update</button>
    </form>
{% endblock %}