{% extends 'base.html' %}

{% block title %}Product delete confirmation{% endblock %}

{% block content %}
    <form method="post" action="/product/{{ product.urlsafe }}/delete">
        <button>Are you sure?</button>
    </form>
{% endblock %}